{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		{% for unity_data in unity_data %}
			<h1>{{unity_data.title}}</h1>
			<p class="lead">{{unity_data.studio}}</p>
			<p><a href="{{unity_data.url}}">{{unity_data.url}}</a></p>
			<p><b>The Studio:</b> <br>{{unity_data.studiotext}}</p>
			<p><b>The Project:</b> <br>{{unity_data.projecttext}}</p>
			<p><br>{{unity_data.revealtext}}</p>
			<p><img src="{{unity_data.image}}"></p>
		{% endfor %}
	</div>

{% endblock body %}
